[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
robber = "*"
pytest-flask = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
"psycopg2" = "*"

[requires]
python_version = "3.7"
